/gfpgan/archs/stylegan2_clean_arch.py
/gfpgan/weights/parsing_parsenet.pth
/.idea/.gitignore
/gfpgan/archs/__init__.py
/gfpgan/data/__init__.py
/gfpgan/models/__init__.py
/gfpgan/__init__.py
/gfpgan/archs/arcface_arch.py
/gfpgan/weights/detection_Resnet50_Final.pth
/.idea/Faux_Superficiel.iml
/gfpgan/data/ffhq_degradation_dataset.py
/gfpgan/archs/gfpgan_bilinear_arch.py
/gfpgan/models/gfpgan_model.py
/gfpgan/weights/GFPGANv1.3.pth
/gfpgan/weights/GFPGANv1.4.pth
/gfpgan/archs/gfpganv1_arch.py
/gfpgan/archs/gfpganv1_clean_arch.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/gfpgan/weights/README.md
/gfpgan/archs/restoreformer_arch.py
/gfpgan/archs/stylegan2_bilinear_arch.py
/gfpgan/train.py
/gfpgan/utils.py
/gfpgan/version.py
/Resources_Path.txt
/RealESRGAN_Model_Path.txt
/Inswapper_Model_Path.txt
/GFPGAN_Model_Path.txt
